[submodule "themes/identity"]
	path = themes/identity
	url = git@github.com:marcusbooyah/hugo-identity-theme.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = git@github.com:sethmacleod/dimension.git
